[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"

[packages]
requests = "*"
pytest = "*"
pylint = "*"
mypy = "*"
pytest-coverage = "*"

[requires]
python_version = "3.7"
